pipeline/exec_aqs_malla.json
{
	"name": "exec_aqs_malla",
	"properties": {
		"activities": [
			{
				"name": "Recupera_Tablas_AQS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct tabla_hub from ctrl.integracion_hub where productor='AQS' ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDataHubPro",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ctrl",
							"tabla": "dual"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Batch_AQS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Recupera_Tablas_AQS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Recupera_Tablas_AQS').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Carga AQS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('truncate table hub.',item().tabla_hub)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlRAWPRO",
									"type": "DatasetReference",
									"parameters": {
										"schema": "aqs",
										"table": "@replace(item().tabla_hub,'aqs','vw')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsAQSTable",
									"type": "DatasetReference",
									"parameters": {
										"tblAQSDestino": "@item().tabla_hub"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "0001_AQS"
		},
		"annotations": []
	}
}