templates/exec_aqs_malla/exec_aqs_malla.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureSqlIronHubPRO": {
			"type": "string"
		},
		"AzureSqlRAWPROD_NEW": {
			"type": "string"
		},
		"AzureSqlAQS": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/exec_aqs_malla')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Recupera_Tablas_AQS",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select distinct tabla_hub from ctrl.integracion_hub where productor='AQS' ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDataHubPro",
								"type": "DatasetReference",
								"parameters": {
									"schema": "ctrl",
									"tabla": "dual"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Batch_AQS",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Recupera_Tablas_AQS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Recupera_Tablas_AQS').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Carga AQS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{concat('truncate table hub.',item().tabla_hub)}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlRAWPRO",
											"type": "DatasetReference",
											"parameters": {
												"schema": "aqs",
												"table": "@replace(item().tabla_hub,'aqs','vw')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsAQSTable",
											"type": "DatasetReference",
											"parameters": {
												"tblAQSDestino": "@item().tabla_hub"
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "0001_AQS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlDataHubPro')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlRAWPRO')]",
				"[concat(variables('factoryId'), '/datasets/dsAQSTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDataHubPro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlIronHubPRO')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"tabla": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CRM"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tabla",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlRAWPRO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlRAWPROD_NEW')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRUEB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsAQSTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlAQS')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tblAQSDestino": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AQS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "hub",
					"table": {
						"value": "@dataset().tblAQSDestino",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}