templates/Copy Data/Copy Data.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"sqldbazuredatabase01": {
			"type": "string"
		},
		"AzureSqlDatabaseconnection": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "table",
							"value": {
								"value": "@json('[\n\n    {\n        \"schema\": \"dbo\",    \n        \"schema2\": \"finance\",        \n        \"tabla\":\"UFTProjInvoiceJourStaging\" ,   \n        \"pk_integracion\": \"INVOICENUMBER\"\n        },\n\n         \n       \n]')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('table')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().schema}.@{item().tabla}"
										},
										{
											"name": "Destination",
											"value": "@{item().schema}.@{item().tabla}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "sqldbazuredatabase01",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "sqldbazuredatabase02",
											"type": "DatasetReference",
											"parameters": {
												"schema": "@item().schema2",
												"table": "@item().tabla",
												"urlKeyVault": "https://kv-acceso001.vault.azure.net/",
												"secretNameKeyVault": "DatabaseConnectionazuredatabase02"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"schema2": {
						"type": "string",
						"defaultValue": "finance"
					}
				},
				"variables": {
					"table": {
						"type": "Array",
						"defaultValue": [
							"UFTProjInvoiceJourStaging"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-09T07:59:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqldbazuredatabase01')]",
				"[concat(variables('factoryId'), '/datasets/sqldbazuredatabase02')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldbazuredatabase01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('sqldbazuredatabase01')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "UFTProjInvoiceJourStaging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldbazuredatabase02')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabaseconnection')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"URL_KeyVault": "@dataset().urlKeyVault",
						"SecretName_KeyVault": "@dataset().secretNameKeyVault"
					}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"urlKeyVault": {
						"type": "string"
					},
					"secretNameKeyVault": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}